[flake8]
# Игнорировать ошибки (например, E501 - строка слишком длинная, так как Black сам этим управляет)
ignore = E203, E501, W503, E704
# Максимальная длина строки (должна совпадать с Black)
max-line-length = 88
# Исключить папки из проверки
exclude = .git,__pycache__,migrations,venv